<h2>Current Locations:</h2>

  <% @show_all = Location.all %>
  <% @show_all.each do |x| %>
    <h3><%= x["id"] %>. <%= x["city"] %></h3>
        <p class=indent>Products assigned to <strong><%= x["city"] %></strong>:<br>
        <% @products = Product.all %>
        <% @products.each do |y| %>
          <% if y["location_id"] == x["id"]%>
          <p class=indent-more><%= y["id"] %>. <%= y["title"] %>  by  <%= y["author"] %><br></p>
          <% end %>
        <% end %>
  <% end %>
    